<div>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div>
      <input
        matInput
        required="true"
        id="name"
        formControlName="name"
        placeholder="name"
        autocomplete="off"
      />
    </div>

    <div>
      <mat-radio-group [formControl]="selectionModeRadio">
        <mat-radio-button value="existing">existing:</mat-radio-button>
        <mat-radio-button value="custom">custom publication:</mat-radio-button>
      </mat-radio-group>
    </div>

    <div [formGroup]="form">
      <mat-checkbox
        formControlName="presentationType"
        required="true"
        value="print"
      >
        <span> Print </span>
      </mat-checkbox>
      <!--
      <mat-checkbox
        formControlName="presentationTypes"
        required="true"
        value="digital"
      >
        <span> Digital </span>
      </mat-checkbox> -->
    </div>

    <div>
      <button mat-button type="submit">save</button>
    </div>
  </form>
</div>
