<div class="grid__wrapper">
  <igx-hierarchical-grid
    class="hierarchicalGrid"
    [data]="localData"
    [autoGenerate]="true"
    [rowEditable]="true"
    [height]="'480px'"
    [width]="'100%'"
    [rowHeight]="'65px'"
    [primaryKey]="'Name'"
    #hierarchicalGrid
  >
    <igx-column
      field="Name"
      [resizable]="true"
      [minWidth]="'88px'"
      [maxWidth]="'230px'"
      dataType="string"
    ></igx-column>
    <igx-column
      field="LastName"
      [resizable]="true"
      [minWidth]="'88px'"
      [maxWidth]="'230px'"
      dataType="string"
    ></igx-column>
    <igx-column
      field="Age"
      [resizable]="true"
      [minWidth]="'88px'"
      [maxWidth]="'230px'"
      dataType="string"
    ></igx-column>

    <igx-row-island
      [autoGenerate]="true"
      (gridCreated)="onGridCreated($event)"
      [primaryKey]="'Name'"
    >
      <igx-column
        field="Name"
        [resizable]="true"
        [minWidth]="'88px'"
        [maxWidth]="'230px'"
        dataType="string"
      ></igx-column>
      <igx-column
        field="LastName"
        [resizable]="true"
        [minWidth]="'88px'"
        [maxWidth]="'230px'"
        dataType="string"
      ></igx-column>
      <igx-column
        field="Age"
        [resizable]="true"
        [minWidth]="'88px'"
        [maxWidth]="'230px'"
        dataType="string"
      ></igx-column>
    </igx-row-island>
  </igx-hierarchical-grid>
</div>
