<div class="button-container">
  <button
    mat-button
    [matMenuTriggerFor]="rightMenu"
    (contextmenu)="onRightClick($event, {})"
  >
    Open Menu
  </button>
</div>
<mat-menu #rightMenu="matMenu" hasBackdrop="true" yPosition="below">
  <ng-template matMenuContent>
    <ng-container>
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <mat-divider></mat-divider>
      <app-menu-dinos [menu]="rightMenu"></app-menu-dinos>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </ng-container>
  </ng-template>
</mat-menu>

<mat-menu #fish="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
</mat-menu>

<mat-menu #amphibians="matMenu" xPosition="before">
  <button mat-menu-item>Sonoran desert toad</button>
  <button mat-menu-item>Western toad</button>
  <button mat-menu-item>Arroyo toad</button>
  <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #reptiles="matMenu">
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu>
