<ng-container [ngTemplateOutlet]="hasItems" [ngTemplateOutletContext]="{ items: items }">
</ng-container>

<ng-template #hasItems let-items="items">
    <div>Has Items</div>
    <div *ngFor="let item of items">
        {{ item.name }}
    </div>
</ng-template>

<div>
    <h2>Direct on Template - With Type Safety</h2>
    <div *ngFor="let item of items">
        {{ item.name }}
    </div>
</div>

<ng-container *ngIf="items$|async as itemsX">
    <div>
        <h2>Async Pipe</h2>
        <div *ngFor="let item of itemsX">
            {{ item.name2 }}
        </div>
    </div>
</ng-container>